:root {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Righteous', cursive;

  background: #1f555d;
  color: #ffffff;
}
a {
  color: #ffffff;
}
.container {
  max-width: 70%;
  margin: 5rem auto;
  text-align: center;
}
.app-title {
  font-size: 2.5rem;
  padding: 0.5rem;
}
.timer-setter {
  font-size: 1.5rem;
  padding: 1rem;
}
.timer-title {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.length-display {
  padding: 0 1rem;
}
.timer-display {
  font-size: 1.5rem;
  padding: 1.3rem;
  border: 7px solid #14353b;
  border-radius: 35px;
  width: 50%;
  margin: 0 auto;
}
#countdown-timer {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.2rem;
}
.digits {
  padding: 0 0.5rem;
}
.timer-control {
  padding: 1rem;
  font-size: 1.5rem;
  position: relative;
}
.control {
  padding: 0 0.8rem;
}
.playing {
  display: inline-block;
  padding: 1rem;
}
.stopped {
  display: none;
  padding: 0;
}

@media (max-width: 760px) {
  :root {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  :root {
    font-size: 8px;
  }
}
